trigger:
- master

pool: BDSCA-Agent
  
variables:
  - group: BLACKDUCK_SCA
  
steps:
- task: BlackDuckSecurityScan@2.0.0
  displayName: 'Black Duck Scan'
  env:
    DETECT_PROJECT_NAME: $(Build.Repository.Name)
  inputs:
    BLACKDUCKSCA_URL: $(BLACKDUCK_URL)
    BLACKDUCKSCA_TOKEN: $(BLACKDUCK_TOKEN)