name: Black Duck SCA Test

# Controls when the workflow will run
on:
  push:
    branches: [ main, master, develop, stage, release ]
  pull_request:
    branches: [ main, master, develop, stage, release ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    #  runs-on: [ ubuntu-latest ]
    runs-on: [ self-hosted ]
    # Use ubuntu-latest to run workflow on github hosted runner
    # runs-on: [ ubuntu-latest ]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout Source
        uses: actions/checkout@v3

      - name:   Black Duck SCA Scan
        # if: ${{ github.event_name != 'pull_request' }}
        # Use the action defined in this repository
        uses: blackduck-inc/black-duck-security-scan@main
        with:
          blackducksca_url: ${{ vars.BLACKDUCK_URL }}
          blackducksca_token: ${{ secrets.BLACKDUCK_TOKEN }}
          # blackducksca_scan_full: true
          blackduck_scan_failure_severities: 'BLOCKER,CRITICAL'
          # blackducksca_waitForScan: false
          blackducksca_prComment_enabled: true
          # blackducksca_fixpr_enabled: true
          # blackduck_fixpr_filter_severities: 'HIGH,CRITICAL'
          # blackducksca_policy_badges_create: true
          # blackduck_install_directory: 'test/path'
          # blackduck_search_depth: 2
          # blackduck_config_path: 'test/path'
          # blackduck_args: '--version'
          # blackducksca_reports_sarif_create: true
          # blackduck_reports_sarif_file_path: 'test/path'
          # blackduck_reports_sarif_severities: 'HIGH,CRITICAL'
          # blackduck_reports_sarif_groupSCAIssues: true
          # bridgecli_download_url: 'https://artifactory.internal.synopsys.com/artifactory/clops-local/clops.sig.synopsys.com/bridge/binaries/bridge-cli-bundle/2.9.12/bridge-cli-bundle-2.9.12-macosx.zip'
          # bridgecli_install_directory: '/Users/gouravj/bridge-cli-bundle'
          github_token: ${{ secrets.MY_GITHUB_TOKEN }}
          # network_airgap: true
          # include_diagnostics: true
          mark_build_status: 'success'
          
      - name: cmdLine
        id: cmdLine
        run: |
          EXIT_CODE=${{ steps.black-duck-security-scan.outputs.status }}
          echo "Black Duck Security Scan exit status - $EXIT_CODE"
