name: BlackduckSCA3
on:
  push:
    branches: [ "main" ]
permissions:
  contents: read
  security-events: write
  issues: write
  pull-requests: write
  
jobs:
  lint:
    runs-on: self-hosted
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
      - name: Black Duck SCA Scan1
        uses: blackduck-inc/black-duck-security-scan@v2
        with:
            polaris_server_url: 'https://poc.polaris.blackduck.com'
            polaris_access_token: 'abc'
            polaris_assessment_types: "SCA,SAST"
            include_diagnostics: true
